#genre-form {
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.genre-toggle {
  position: relative;
  cursor: pointer;
}

.genre-toggle input {
  display: none; /* hide real checkbox */
}

.genre-toggle span {
  display: inline-block;
  padding: 5px 10px;
  border: 0.5px solid #bbb;
  border-radius: 20px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 14px;
  transition: all 0.2s ease;
  user-select: none;
}

/* Hover effect */
.genre-toggle span:hover {
  background-color: #e8e8e8;
}

/* When checkbox is checked */
.genre-toggle input:checked + span {
  background-color: #c5a400ff; /* blue tone */
  border-color: #846507ff;
  color: white;
  /* font-weight: 600; */
  box-shadow: 0 0 0 2px rgba(59,130,246,0.3);
}


@media (max-width: 900px) {
  .genre-toggle span{
    font-size: 10px;
  }

}