.nav{
    background-color: rgb(18, 18, 18);
    color: white;
    font-weight: bolder;

    div{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    

    button:hover, .button:hover{
        background-color: rgb(29, 29, 29);
    }

    .container{
        display: flex;
        justify-content: space-between;
    }
}